/*CSS RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "arial, helvetica, sans-serif";
  color: #515151;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*common style*/
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
}
.content {
  width: 80%;
  margin: 0 auto;
}
a[class*="button"] {
  display: inline-block;
  background-color: #8FC63D;
  color: #FFFFFF;
}
a:hover {
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  text-decoration: none;
}
/*nav start*/
.nav {
  width: 100%;
  height: 85px;
}
.nav .brand {
  display: block;
  text-align: center;
  width: 211px;
  height: 85px;
  background: url(../img/Logo.png) no-repeat center;
}
.nav .navbar {
  padding-left: 300px;
}
.nav .navbar li {
  float: left;
}
.nav .navbar li a {
  margin: 0 15px;
  font-size: 13px;
  font-weight: 600;
  line-height: 85px;
  color: rgba(102, 102, 102, 0.67);
  cursor: pointer;
}
.nav .navbar li a:hover {
  color: #8fc63d;
}
.nav .login {
  float: right;
  font-size: 13px;
  color: #fff;
  padding: 14px 30px;
  margin: 22px 0;
  background-color: #8FC63D;
  border-radius: 21px;
}
.nav .menu-off {
  float: right;
  margin-top: 10px;
  display: none;
}
.nav .menu-off span {
  width: 23px;
  height: 2px;
  background-color: #333;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*nav end*/
/*banner start*/
.banner {
  position: relative;
  min-height: 570px;
  background: url(../img/banner_01.jpg) no-repeat center;
  background-size: cover;
}
.banner .banner-word {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-top: 228px;
  text-align: center;
  color: #FFFFFF;
}
.banner .banner-word h1 {
  font-size: 49px;
}
.banner .banner-word p {
  font-size: 35px;
  padding: 27px 0 60px 0;
}
.banner .banner-word .button-banner {
  border-radius: 10px;
  padding: 24px 41px;
  font-size: 19px;
}
.banner .arrow {
  position: absolute;
  bottom: 48px;
  right: 0;
}
.banner .arrow a {
  float: left;
  display: block;
  width: 13px;
  height: 20px;
  margin: 0 16px;
}
.banner .arrow .next {
  background: url(../img/next.png) no-repeat;
}
.banner .arrow .prev {
  background: url(../img/prev.png) no-repeat;
}
/*banner end*/
/*work start*/
.work .work-content {
  padding: 100px 0;
}
.work .work-content .work-icon {
  width: 58px;
  height: 58px;
  background: url(../img/work.png) no-repeat;
  margin: 0 auto;
  margin-bottom: 50px;
}
.work .work-content h3 {
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 50px;
}
.work .work-content p {
  font-size: 19px;
  text-align: center;
  line-height: 24px;
  padding: 26px 0;
  color: rgba(102, 102, 102, 0.71);
}
.work .table .list-item ul {
  padding: 0 24px;
}
.work .table .list-item ul li {
  float: left;
  width: 33.33333333%;
  padding: 0 28px 37px 3px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  transition: all .2s ease;
}
.work .table .list-item ul li .item-num {
  display: inline-block;
  padding: 14px;
  margin-right: 29px;
  background-color: #5f5f5f;
  border-radius: 100%;
  font-size: 20px;
  color: #FFFFFF;
  transition: background-color 0.2s ease;
}
.work .table .list-item ul li span:nth-child(2) {
  font-size: 33px;
  vertical-align: middle;
}
.work .table .list-item ul li:hover {
  border-bottom-color: #8FC63D;
}
.work .table .list-item ul li:hover .item-num {
  background-color: #8FC63D;
}
.work .table .list-item ul .active {
  border-bottom-color: #8FC63D;
}
.work .table .list-item ul .active .item-num {
  background-color: #8FC63D;
}
.work .table .list-item .list-content i {
  float: left;
  display: block;
  width: 113px;
  height: 102px;
  background: url(../img/glasses.png) no-repeat center;
  padding: 140px;
}
.work .table .list-item .list-content .list-title {
  font-size: 25px;
  color: #8FC63D;
  padding-top: 70px;
  padding-bottom: 34px;
}
.work .table .list-item .list-content p {
  font-size: 17px;
  color: rgba(102, 102, 102, 0.67);
}
/*work end*/
/*find start*/
.find {
  width: 50%;
  float: left;
  background-color: #e2f8ff;
}
.find .find-item {
  padding: 48px 0;
}
.find .find-item i {
  float: left;
  display: block;
  width: 133px;
  height: 112px;
  margin-top: 60px;
}
.find .find-item .property {
  background: url(../img/VectorSmartObject1.png) no-repeat;
}
.find .find-item .find-box {
  padding-left: 45px;
}
.find .find-item .find-box .find-title {
  font-size: 23px;
  padding-bottom: 43px;
}
.find .find-item .find-box p {
  line-height: 30px;
}
.find .find-item .find-box .button {
  padding: 20px 26px;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 15px;
  background-color: #26a6d1;
}
.find-green {
  background-color: #f5f9eb;
}
.find-green .buyer {
  background: url(../img/VectorSmartObject.png) no-repeat;
}
.find-green .find-item .find-box .button-green {
  background-color: #8FC63D;
}
/*find end*/
/*Featured Projects start*/
.project {
  padding: 137px 0;
}
.project .project-content {
  padding: 0 19px;
}
.project .project-title h3 {
  font-size: 29px;
}
.project .project-title p {
  float: left;
  padding-top: 32px;
  padding-bottom: 60px;
  max-width: 596px;
  color: #8f8f8f;
  font-size: 17px;
  line-height: 30px;
}
.project .project-title .button-border {
  float: right;
  padding: 20px 26px;
  border-radius: 8px;
  background-color: transparent;
  color: #515151;
  border: 1px solid #515151;
}
.project .project-item {
  float: left;
  margin: 0 20px;
  width: 30%;
  height: 520px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #f9f9f9;
}
.project .project-item .project-img {
  position: relative;
  display: block;
  width: 100%;
  height: 226px;
  background: url(../img/project_01.png) no-repeat;
  background-size: cover;
}
.project .project-item .project-img:after {
  content: "";
  width: 74px;
  height: 74px;
  background: url(../img/New.png) no-repeat;
  position: absolute;
  top: -1px;
  left: -1px;
}
.project .project-item .project-img .button-small {
  padding: 12px 8px;
  border-radius: 6px;
  background-color: #26A6D1;
  font-size: 15px;
  position: absolute;
  bottom: 18px;
  right: 15px;
}
.project .project-item .project-word {
  padding: 30px;
  padding-bottom: 0;
}
.project .project-item .project-word h3 {
  color: #484848;
  font-size: 17px;
  padding-bottom: 20px;
}
.project .project-item .project-word p {
  line-height: 24px;
  font-size: 13px;
  color: rgba(102, 102, 102, 0.71);
}
.project .project-item .project-word .progress {
  display: block;
  width: 100%;
  height: 14px;
  background-color: #e3e3e3;
  border-radius: 20px;
  margin: 14px 0;
}
.project .project-item .project-word span {
  color: #8d8d8d;
  padding-bottom: 20px;
}
.project .project-item .project-word span i {
  font-style: normal;
}
.project .project-item .project-word .details {
  padding-top: 16px;
  font-size: 15px;
  color: rgba(72, 72, 72, 0.85);
  border-top: 1px solid #d6d6d6;
  text-align: right;
}
.project .project-item .project-word .details .sj {
  display: inline-block;
  width: 12px;
  height: 16px;
  background: url(../img/sanjiao.png) no-repeat;
  vertical-align: middle;
}
/*Featured Projects end*/
/*Community start*/
.community {
  text-align: center;
  position: relative;
}
.community .com-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.community img {
  display: block;
  width: 100%;
  height: 100%;
}
.community h3 {
  font-size: 39px;
  color: #8FC63D;
}
.community p {
  font-size: 19px;
  color: #949494;
  line-height: 24px;
  padding: 26px 0;
}
.community .user {
  position: absolute;
  bottom: 60px;
}
.community .user .user-word {
  padding: 25px 37px;
  width: 397px;
  height: 166px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 34px;
}
.community .user .user-word h3 {
  font-size: 21px;
}
.community .user .user-word p {
  font-size: 13px;
}
.community .user .user-img {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/user-01.png) no-repeat;
  vertical-align: middle;
}
.community .user span {
  color: #494949;
  font-weight: bold;
  padding-left: 15px;
}
.community .user1 {
  right: 400px;
}
/*Community end*/
/*footer start*/
.footer {
  width: 100%;
  height: 131px;
  border-bottom: 1px solid #ededed;
}
.footer ul li a {
  float: left;
  padding: 46px 32px;
}
.footer ul li a img {
  display: inline-block;
}
/*fonter end*/
.copyright {
  width: 100%;
  height: 65px;
}
.copyright p {
  line-height: 65px;
  text-align: center;
  color: #848484;
  font-size: 13px;
}
/*响应式布局*/
@media screen and (max-width: 767px) {
  .content {
    width: 90%;
  }
  .nav {
    height: 50px;
  }
  .nav .brand {
    height: 50px;
    background-size: 60%;
    background-position: left;
  }
  .nav .navbar {
    display: none;
  }
  .nav .login {
    display: none;
  }
  .nav .menu-off {
    display: block;
  }
  /*banner start*/
  .banner .banner-word h1 {
    font-size: 30px;
  }
  .banner .banner-word p {
    font-size: 20px;
  }
  .banner .banner-word .button-banner {
    border-radius: 2px;
    padding: 10px 25px;
    font-size: 14px;
  }
  /*banner end*/
  /*work start*/
  .work .table .list-item ul {
    padding: 0;
  }
  .work .table .list-item ul li .item-num {
    display: none;
  }
  .work .table .list-item ul li span:nth-child(2) {
    font-size: 16px;
  }
  .work .table .list-item .list-content {
    text-align: center;
  }
  .work .table .list-item .list-content i {
    float: none;
    margin: 0 auto;
  }
  .work .table .list-item .list-content .list-title {
    padding-top: 0;
  }
  .work .table .list-item .list-content p {
    padding-bottom: 20px;
  }
  /*work end*/
  /*find start*/
  .find {
    width: 100%;
  }
  .find .find-item i {
    float: none;
    margin: 0 auto;
  }
  .find .find-item .find-box .find-title {
    padding-bottom: 20px;
  }
  /*find end*/
  /*Featured Projects start*/
  .project {
    padding: 90px 0;
  }
  .project .project-title p {
    padding: 32px 0;
  }
  .project .project-title .button-border {
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .project .project-item {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  /*Featured Projects end*/
  /*Community start*/
  .community .com-content {
    top: -80px;
  }
  .community h3 {
    font-size: 30px;
  }
  .community p {
    font-size: 16px;
  }
  .community .user {
    display: none;
  }
  /*Community end*/
  /*footer start*/
  .footer {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .content {
    width: 90%;
  }
  .nav {
    height: 50px;
  }
  .nav .brand {
    height: 50px;
    background-size: 60%;
    background-position: left;
  }
  .nav .navbar {
    display: none;
  }
  .nav .login {
    display: none;
  }
  .nav .menu-off {
    display: block;
  }
  /*banner start*/
  .banner .banner-word h1 {
    font-size: 30px;
  }
  .banner .banner-word p {
    font-size: 20px;
  }
  .banner .banner-word .button-banner {
    border-radius: 2px;
    padding: 10px 25px;
    font-size: 14px;
  }
  /*banner end*/
  /*work start*/
  .work .table .list-item ul {
    padding: 0;
  }
  .work .table .list-item ul li .item-num {
    display: inline-block;
  }
  .work .table .list-item ul li span:nth-child(2) {
    font-size: 16px;
  }
  .work .table .list-item .list-content {
    text-align: center;
  }
  .work .table .list-item .list-content i {
    float: none;
    margin: 0 auto;
  }
  .work .table .list-item .list-content .list-title {
    padding-top: 0;
  }
  .work .table .list-item .list-content p {
    padding-bottom: 20px;
  }
  /*work end*/
  /*find start*/
  .find {
    width: 50%;
  }
  .find .find-item i {
    float: none;
    margin: 0 auto;
  }
  .find .find-item .find-box .find-title {
    padding-bottom: 20px;
  }
  /*find end*/
  /*Featured Projects start*/
  .project {
    padding: 90px 0;
  }
  .project .project-title p {
    padding: 32px 0;
  }
  .project .project-title .button-border {
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .project .project-item {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  /*Featured Projects end*/
  /*Community start*/
  .community .com-content {
    top: 0px;
  }
  .community h3 {
    font-size: 30px;
  }
  .community p {
    font-size: 16px;
  }
  .community .user {
    display: none;
  }
  /*Community end*/
  /*footer start*/
  .footer {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .content {
    width: 90%;
  }
  .nav {
    height: 85px;
  }
  .nav .brand {
    height: 85px;
    background-size: 80%;
    background-position: left;
  }
  .nav .navbar {
    display: block;
    padding-left: 0;
  }
  .nav .login {
    display: block;
  }
  .nav .menu-off {
    display: none;
  }
  /*banner start*/
  .banner .banner-word h1 {
    font-size: 49px;
  }
  .banner .banner-word p {
    font-size: 35px;
  }
  .banner .banner-word .button-banner {
    border-radius: 10px;
    padding: 24px 41px;
    font-size: 19px;
  }
  /*banner end*/
  /*work start*/
  .work .table .list-item ul {
    padding: 0;
  }
  .work .table .list-item ul li .item-num {
    display: inline-block;
  }
  .work .table .list-item ul li span:nth-child(2) {
    font-size: 30px;
  }
  .work .table .list-item .list-content {
    text-align: left;
  }
  .work .table .list-item .list-content i {
    float: left;
    margin: 0;
  }
  .work .table .list-item .list-content .list-title {
    padding-top: 70px;
  }
  .work .table .list-item .list-content p {
    padding-bottom: 20px;
  }
  /*work end*/
  /*find start*/
  .find {
    width: 50%;
  }
  .find .find-item i {
    float: left;
    margin: 0;
  }
  .find .find-item .find-box {
    padding-left: 14px;
    float: right;
  }
  .find .find-item .find-box .find-title {
    padding-bottom: 20px;
  }
  /*find end*/
  /*Featured Projects start*/
  .project {
    padding: 90px 0;
  }
  .project .project-title p {
    padding: 32px 0;
  }
  .project .project-title .button-border {
    float: right;
    margin: 0;
  }
  .project .project-item {
    width: 31%;
    margin: 0 10px;
  }
  /*Featured Projects end*/
  /*Community start*/
  .community .com-content {
    top: 0;
  }
  .community h3 {
    font-size: 39px;
  }
  .community p {
    font-size: 19px;
  }
  .community .user {
    display: block;
  }
  .community .user1 {
    right: 50px;
  }
  /*Community end*/
  /*footer start*/
  .footer {
    display: block;
    width: 100%;
    height: 131px;
    border-bottom: 1px solid #ededed;
  }
  .footer ul li a {
    float: left;
    width: 14.28571429%;
    padding: 46px 0;
  }
  .footer ul li a img {
    vertical-align: middle;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    width: 80%;
  }
  .nav .navbar {
    display: block;
    padding-left: 16%;
  }
  /*work start*/
  .work .table .list-item ul li span:nth-child(2) {
    font-size: 33px;
  }
  /*work end*/
  /*Community start*/
  .community .user1 {
    right: 200px;
  }
  /*Community end*/
}
